// Hover colors
$hover-color: #0060d7cf;
$button-hover-border-color: #0f77f7d5;

// Button properties
$button-color: #1d1556fa;
$button-border-color: #1d1556fa;
$button-border-radius: 5px;

// Util variables
$widths: 40, 60;
