@import "_variables";

@mixin base-button {
  background-color: $button-color;
  border-color: $button-border-color;
  border-radius: $button-border-radius;
  color: white;
}

@mixin base-button-hover {
  background-color: $hover-color;
  border-color: $button-hover-border-color;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://media1.giphy.com/media/kg19fN5BXbZGIDznzG/giphy.gif?cid=ecf05e478uq3n2aefryfvkpjmzpend71a71dnok81cnu6nl6&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-text {
  color: black;
  &:hover {
    color: $hover-color;
  }
}

.standard-button {
  @include base-button;
  height: 2.5em;
  width: 8em;

  &:hover {
    @include base-button-hover;
  }
}

.foot-selection-button {
  @include base-button;
  height: 3.5em;
  width: 20em;

  &:hover {
    @include base-button-hover;
  }
}
